* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1c: #1c1c1c;
}

.section-heading {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}

.button {
    background-color: var(--color-232f3e);
    color: white;
    font-size: 14px;
    padding: 13px 33px;
    border-radius: 25px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--color-febd69);
    color: #131921;
}


/* Header Start */
.header-top-strip {
    background-color: var(--color-131921);
    border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
    background-color: var(--color-131921);
}

.header-upper .input-group-text {
    background-color: var(--color-febd69);
}

.header-upper .header-upper-links img {
    width: 35px;
    height: 35px;
}

.header-bottom {
    background-color: var(--color-3b4149);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
}

.header-bottom .dropdown button::before {
    contain: url("../src//assests/images/menu.svg");
}

.header-bottom .dropdown button:focus {
    box-shadow: none;
}

.header-bottom .dropdown-menu {
    background-color: var(--color-131921);
    width: 100%;
    transform: translate3d(0px 57px 0px) !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: var(--color-131921) !important;

}

/* 
.dropdown-menu {
    margin-top: 5px !important;
} */
.header-bottom .dropdown-item :hover {
    background-color: transparent;
    color: var(--color-febd69);
}

.header-bottom .dropdown-item {
    padding: 20px;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-3b4149);
}

/* Header Ending */


/* Footer Staring */

footer {
    background-color: var(--color-232f3e);
}

footer:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0);
}


footer .input-group-text {
    background-color: var(--color-232f3e);
    color: white;
    padding: 8px 17px;
}

/* Footer Ending */


/* Home Page Starts */
.main-banner-content {
    top: 15%;
    left: 10%;
}

.main-banner-content h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;

}


.main-banner-content h5 {
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}

.main-banner-content p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: var(--color-131921);
}


.small-banner-content {
    top: 25%;
    left: 10%;
}

.small-banner-content h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;

}


.small-banner-content h5 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
}

.small-banner-content p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: var(--color-131921);
}

.small-banner {
    width: 49%;
}


/* Home Wrapper-2 Starts */
.home-wrapper-2 {
    background-color: var(--color-f5f5f7);
}

/* Home Wrapper -2 ends */


.categories {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
}

.categories>div {
    width: 25%;
    padding: 10px 10px 10px 20px;
}

.categories>div>div {
    width: 60%;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4) {
    border-bottom: 1px solid var(--color-ededed);
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3) {
    border-right: 1px solid var(--color-ededed);
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
    border-right: 1px solid var(--color-ededed);
}

.card-wrapper {
    background-color: white;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
}


/* Blog Card Stars */
.blog-card {
    background-color: white;

    border-radius: 10px;
}

.blog-card img {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.blog-content {
    padding: 15px;
}

.blog-content .date {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-777777);
    padding: 0;
}

.blog-content h5 {
    font-size: 18px;
    color: var(--color-131921);
}

.blog-content p.date {
    font-size: 13px;
    line-height: 22px;
    color: var(--color-777777);
}

/* Blog Card Ends */

/* Product Card */
.product-card {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.product-card .product-image {
    height: 270px;
}

.product-card .product-image img {
    object-fit: contain;
}

.product-card .product-image>img:last-child {
    display: none;
}

.product-card:hover .product-image>img:nth-child(1) {
    display: none;
}

.product-card:hover .product-image>img:last-child {
    display: block;
}

.product-card:hover .action-bar {
    right: 10px;
}

.product-card .product-details h6 {
    color: var(--color-bf4800);
    font-size: 13px;
}

.product-card .product-details h5 {
    font-size: 15px;
    color: var(--color-1c1c1c);
}


.product-card .product-details p.price {
    font-size: 16px;
    color: var(--color-1c1c1c);
}

.action-bar {
    top: 15%;
    right: -35px;
    transition: 0.3s;
}

.wishlist-icon {
    top: 2%;
    right: 15px;
}

/* Product Card Ends Here */

/* Special Product Card */
.special-product-card {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.special-product-card p.price {
    font-size: 14px;
    color: var(--color-777777);
}
/* Special Product Card Ends */



/* Home Page ENDS */